body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #e4e5e6;
}

.dropdown-menu, .p-contextmenu {
    font-size: 0.8rem;
}

.navbar {
    padding: .2rem 1rem;
    background-color: #0b3259 !important;
}/*1560aa*/

/*siderbar map*/

.btn-xs {
    padding: 1px 5px !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.homeTab {
    padding-left: 0;
    padding-right: 0;
}

/*posicion de tabs (titulo y boton cerrar)*/

.wrap {
    text-align: center
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: left;
    margin: 0 auto !important;
    display: inline-block
}

.colorBlanco {
    color: white !important;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.card-header-actions {
    /*display: inline-block;*/
    float: right;
    margin-right: -0.25rem;
}

.card-header-action {
    padding: 0 0.25rem;
}

.border-radius-0 {
    border-radius: 0px !important;
}

/**/

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 3px;
}

form select:focus, select.form-control:focus, textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 60, 136, 0.5) !important;
    box-shadow: inset 0 -2px 0 rgba(0, 60, 136, 0.5) !important;
}

.p-autocomplete-input-token input[type=text]:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none!important;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control, p.form-control {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
}

select, select.form-control, p-dropdown {
    padding-right: 0\9;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 0.75rem;
    line-height: 1.5;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}

.p-contextmenu {
    width: max-content !important;
    font-size: 13px !important;
}

/**/

.foto-perfil, .usuario p-fileupload .ui-fileupload .ui-fileupload-content .ui-fileupload-files .ui-fileupload-row img {
    width: auto!important;
    max-width: 100%!important;
    height: 223px!important;
}

.usuario .p-fileupload-content {
    padding: 0!important;
}

.usuario .p-fileupload-buttonbar {
    text-align: center !important;
    padding: 5px !important;
}

.usuario .p-button {
    font-size: 12px !important;
}

.usuario .p-fileupload-files {
    width: 100% !important;
}

.border-radius {
    border-radius: 36px !important;
}

.ocultar {
    visibility: hidden !important;
    display: none !important;
}

.desocultar {
    visibility: visible !important;
    display: block !important;
}

.p-colorpicker-preview {
    font-size: 9px !important;
}

.btn-group-toggle {
    display: inline !important;
}

.p-slider {
    width: 12em !important;
    display: inline-block !important;
}

.bg-gris {
    background-color: #f8f9fa;
    border-radius: 0px !important;
}

.border-0 {
    border: 0px !important;
}

.bg-filtro {
    background-color: #E0E0E0;
}

.border-filtro {
    border: 1px solid #babfc7;
}

.font-size-titulo {
    font-size: 14px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xm {
    width: 30px;
    height: 30px;
    line-height: 1.33;
    border-radius: 15px;
}

.border-informacion {
    border-color: #7c80849c !important;
}

.bg-informacion {
    background-color: #e5e8ee !important
}

.bg-info {
    background-color: #428bca !important;
}

.text-info {
    color: #428bca !important;
}

.btn-outline-info {
    color: #4c9de4 !important;
    border-color: #4c9de4 !important;
}

.btn-info {
    background-color: white !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0,116,217)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0,116,217)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators li {
    background-color: #4c9de4 !important;
}

.text-informacion {
    color: #4c9de4 !important;
}

/*file*/

.file {
    position: relative;
    overflow: hidden;
}

.file input[type="file"] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.p-listbox .p-listbox-list .p-listbox-item {
    font-size: 12px !important;
    padding-left: 4px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.inline-blocke {
    display: inline-block !important;
}

.p-multiselect {
    width: 100% !important;
    font-size: 12px !important;
}

.my-multiselected-item-token {
    background: #007ad9;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .286em 0 0;
    padding: 2px 4px;
    border-radius: 3px;
    height: 1.857em;
}

.p-multiselect-items .p-multiselect-item {
    padding: 1px;
    font-size: 12px;
}

.p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container .p-autocomplete-token {
    font-size: 13px !important;
    background: #e1e1e1 !important;
    color: #090909 !important;
    border: 1px #aaa4a4 solid !important;
}

.p-autocomplete-multiple-container {
    border: 1px solid #ced4da !important;
}

.bg-empresa {
    background-color: #0e2b48 !important;
}
/*1560aa*/
.btn-primary {
    background-color: #1560aa !important;
    color: #fff !important;
    border-color: #1560aa !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #1560aad4 !important;
    border-color: #1560aad4 !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

/*hover*/

.hvr-underline-reveal::before {
    background: #dfe6ec !important;
}

li.current-user {
    padding: 8px 12px;
}

.user-name {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    white-space: nowrap;
}

/*search ubicacion*/

.search-input {
    border: 0;
    font-size: 14px;
    margin-left: 5px;
    line-height: 25px;
    width: 95%;
    color: #fff;
    background: #afc9e3;
    transition: color ease-in-out 1s;
}

.search-input::placeholder {
    color: #295d91;
    opacity: 1;
}

.search .search-input::placeholder {
    transition: color ease-in-out 0.15s;
}

.search-icon {
    position: absolute;
    right: 60px;
    /* top: 4px; */
}

/**/

.nav-link:focus {
    background-color: rgba(209, 209, 240, 0.2);
    border-radius: 2px;
}

/**/

.invalid-feedback {
    font-size: 90% !important;
}

.left-permiso {
    width: 100%;
    justify-content: left !important;
}

/*tree*/

.rct-node-icon {
    color: #1560aa !important;
}

/*
    custom rules for google autocomplete
*/

.pac-container {
    z-index: 9999 !important;
}

/*
    custom rules for sweetalert2
*/

.swal2-top-start, .swal2-top-end, .swal2-top {
    margin-top: 50px !important;
}

/* Utilities */
.btn-info-f{
    color: #fff;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
.btn-info-f:hover{
    color: #fff;
    background-color: #138496 !important;
    border-color: #117a8b !important;
}

.text-underline{
    text-decoration: underline !important;
}

/* for customization of AgGrid*/
.ag-theme-alpine .ag-root-wrapper{
    border-radius: 0px !important;
}

.required {
    color: #ff0000;
}

.grupo-item {
  display: flex;              /* coloca los hijos en fila */
  justify-content: space-between; /* separa contenido y botón */
  align-items: center;        /* centra verticalmente */
}

.upload-btn {
  cursor: pointer;
  color: #007bff;             /* azul estilo link */
  margin-left: 10px;          /* espacio respecto al texto */
}

.upload-btn:hover {
  color: #0056b3;             /* azul más oscuro al pasar el mouse */
}
