/* Sidebar estilos */

.sidebar {
    position: absolute;
    top: 55px;
    left: 6px;
    right: calc(100% - 486px);
    bottom: 6px;
    transition: all 500ms;
    overflow: hidden;
    z-index: 1000;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
}

.sidebar.collapsed {
    right: calc(100% - 46px);
}

.sidebar.wide {
    right: 6px;
}

.sidebar-tabs {
    height: 100%;
    background-color: rgba(0, 60, 136, 0.5);
    display: inline-block;
}

.sidebar-tabs>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.sidebar-tabs>ul>li {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 12pt;
    overflow: hidden;
    transition: all 80ms;
}

.sidebar-tabs>ul>li:hover {
    background-color: rgba(0, 60, 136, 0.6);
}

.sidebar-tabs>ul>li.active {
    background-color: #0074d9;
}

.sidebar-tabs>ul>li>a {
    display: block;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.sidebar-content {
    position: absolute;
    right: 0px;
    top: 0px;
    left: 40px;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}

.sidebar-content .sidebar-pane {
    min-width: 440px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: none;
}

.sidebar-content .sidebar-pane.active {
    display: block;
}

.sidebar-content .sidebar-pane .sidebar-body {
    position: absolute;
    min-width: inherit;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 40px;
    overflow: auto;
}

.sidebar-content .sidebar-pane .sidebar-title {
    margin: 0px;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #0074d9;
}

.sidebar-content ul.sidebar-controls {
    position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
    right: 0px;
    top: 0px;
    display: inline-block;
}

.sidebar-content ul.sidebar-controls>li {
    display: inline-block;
    width: 32px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.sidebar-content ul.sidebar-controls>li:hover {
    background-color: #0d5797;
}

.ol-zoom {
    display: none;
}

.text-descoretion-none {
    text-decoration: none !important;
}

.sidebar-fill {
    width: 100%;
    height: 100%;
    background: rgba(0, 60, 136, 0.5);
}

.sidebar-fill.loading {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, rgba(0, 60, 136, 0.5) 8%, rgba(0, 60, 136, 0.43) 54%, rgba(0, 60, 136, 0.5) 96%);
    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -40px 0
    }
    100% {
        background-position: 40px 0
    }
}